* {
    padding: 0;
    margin: 0;
  
}

.section-1 {
    font-size: 18px;
    background-color: #051829;
    color: #fdc911;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 10px;

}
.flex{
    display: flex;
    gap:10px;
    justify-content: center;
    
    
}
.white {
    color: white
}
/* -------section-2-------- */
.section-2{
    margin-top: 10px;
    display:grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  
    
}
.s2f{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap:15px;
   
    margin-bottom: 20px;
    
}
.icon{
    font-size: 40px;
    color: #fdc911;
}
.section-2 img{
    height: 90px;
}
/* ---------navbar------- */
.navbar {
  
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #fdc911;

    position: relative;
    font-weight:bold;
}
.navbar-links{
    height: 100%;
    display: flex;
    justify-content:space-between;
    
}
.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-links li{
    list-style: none;
}
.navbar-links ul li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}
.navbar-links ul a:hover{
    color:aliceblue
}
.login{
    margin-left: 50px;
}
.contact li a{
    background-color: black;
    color:white;
    display: block;
    text-decoration: none;
    padding: 1rem;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media only screen and (max-width:570px) {
    .section-1 {
        display: grid;
        grid-template-columns: 1fr;

    }
    .top-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;
    }
    .section-1 .w {
        color: white
    }
    .wrap {
        display: flex;
        flex-wrap:wrap;
        word-break: break-word;
    }
    .top{
        display: flex;
        flex-direction: column;
    }
    .section-2,.fd {
        display: flex;
        flex-direction: column;

    }
   .ahr::after, .ahr::before{
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: #051829;
    display: block;
   }
}


